In [ ]:
# Import the dependencies

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Mount the notebook to Google Drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Load the dataset from a .csv file

path = "/content/drive/MyDrive/csv files/train.csv"
df = pd.read_csv(path)
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [ ]:
# Take the sample of the dataset

new_df = df.sample(30000)

In [ ]:
# Shape of the sample dataset

new_df.shape

(30000, 6)

In [ ]:
# Number of null values

new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [ ]:
ques_df = new_df[['question1', 'question2']]
ques_df.head()

,question1,question2
200521,What should you do when you are angry?,What do you do when you are angry?
281596,What are the best Breaking Bad memes?,What are the best episodes of Breaking Bad?
234095,What are some good ideas for suspense stories?,What are some good ideas for a story?
7151,Do you need to travel to set up an offshore ac...,What would happen if I steal a whole bank like...
85399,What are the functions of communication?,What are some of the functions of communication?

In [ ]:
# Applying bag of words

from sklearn.feature_extraction.text import CountVectorizer

questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [ ]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [ ]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [ ]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
200521,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
281596,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
234095,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7151,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
85399,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(temp_df.iloc[:,0:-1].values, temp_df.iloc[:,-1].values, test_size=0.3, random_state=1)

In [ ]:
# Apply Random Forest Classifier

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf_classifier = RandomForestClassifier()
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)
score = accuracy_score(y_test, y_pred)
print(score)

0.7425555555555555

In [ ]:
# Apply XGBClassifer 

from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test, y_pred)

0.7015555555555556